# python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'
SECRET_KEY="django-insecure-=n1xyo*ho)fv8-xsav1t2b-o2tavd8_ov416^j@ofc*gd-(x1v"

POSTGRES_USER="app_user"
POSTGRES_PASSWORD="app_password"
POSTGRES_DB="app_db"

REDIS_PASSWORD="FrSik1YtcEiUGOP"

